@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

*{
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: cadetblue;
  font-family: 'Press Start 2P', cursive;
  align-items: center;
  font-size: 30px;
}

.main{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr;
  width: 100%;
  height: 90vh;
  .color-description{
    grid-column: 1;
    grid-row: 1 / 4;
    padding: 10px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .canvas-area{
    grid-column: 2;
    grid-row: 1 / 4;
    padding: 10px;
    background-color: lemonchiffon;
    display: flex;
    flex-direction: column;
    #typing-input{
      border: 2px solid red;
      font-size: 24px;
    }
   
  }

  .modal-overlay, .gameover-modal-overlay{
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
  }
  
  .modal, .gameover-modal{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .hide {
    display: none;
  }

  #modal-content, #gameover-modal-content{
    background-color: aquamarine;
    padding: 50px 100px;
    text-align: center;
    position: relative;
    top:0px;
    width: 50%;
    height: 80%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #gameover-modal-content{
    background-color: darkgoldenrod;

  }

  #modal-score{
    display: flex;
    flex-direction: column;
    font-size: 25px;
  }

  #score-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    #nickname{
      border: 2px solid salmon;
      padding: 10px;
      
    }
    #btn-submit{
      &:disabled{
        background-color: gray;
        color: darkgray;
      }
      background-color: darkslateblue;
      color: white
    }
  }
  #btn-play, #btn-replay{
  background: pink;
  font-size: 20px;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
}

#btn-replay{
  background-color: darkblue;
}
  .how-to-play{
    grid-column: 3;
    grid-row: 1/4;
    padding: 10px;
    background-color: sandybrown;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.heart-score{
  display: flex;
  justify-content: space-between;
}

#ttr-game{
  border: 2px solid green;
  width: 100%;
  height: 100%;
  position: relative;
}

