@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@700&family=Open+Sans:wght@300&display=swap');

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: white;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background-color: rgb(8, 8, 34);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

*{
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: transparent;
  font-weight: bolder;
  font-family: 'Press Start 2P', cursive;
  background-image: linear-gradient(to bottom, #230168 50%, #ff0095 75%, #0ad8fc 100%);   
  background-clip: text;
  color: transparent;
  align-items: center;
  font-size: 30px;
  h1{
    background-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);   
    background-clip: text;
    color: transparent;
  }
}

.main{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr;
  width: 100%;
  height: 90vh;
  font-family: 'Marvel';
  .color-description{
    padding: 10px;
    grid-column: 1;
    grid-row: 1 / 4;
    padding: 10px;
    background-color: rgb(8, 8, 34);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: dotted 7px rgb(241, 254, 0); 
    margin: 10px;
    border-radius: 1rem;
  }

  .canvas-area{
    grid-column: 2;
    grid-row: 1 / 4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    #typing-input{
      font-size: 24px;
      font-weight: 700;
      padding-left : px;
      color: wheat;
      border: 7px dotted transparent;
      border: dotted 7px rgb(140, 0, 254); 
      margin: 10px;
      border-radius: 1rem;
      padding: 5px 0;
      text-align: center;

      &:focus{
        outline: none;
        border-color: rgb(140, 0, 254);
        box-shadow: 0px 0px 5px 5px rgb(149, 0, 255);
      }
    }
   
  }

  .modal-overlay, .gameover-modal-overlay{
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
  }
  
  .modal, .gameover-modal{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .hide {
    display: none;
  }

  #modal-content, #gameover-modal-content{
    background-color: rgb(0, 179, 176);
    padding: 50px 100px;
    text-align: center;
    position: relative;
    top:0px;
    width: 50%;
    height: 80%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    box-shadow: 13px 14px 28px rgb(134 125 125 / 62%), -2px -1px 15px rgb(254 254 254 / 76%);
    h1{
      font-size: 25px;
      margin: 30px;
    }
  }

  #gameover-modal-content{
    background-color: darkgoldenrod;

  }

  #modal-score{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin: 20px;
    background-color: transparent;
  }

  #close-modal{
    background-color: transparent;
  }

  #score-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    #nickname{
      border: 2px solid salmon;
      padding: 15px 30px 15px 30px;
    }
    #btn-submit{
      margin: 20px;
      padding: 20px;
      border-radius: 3px;
      &:disabled{
        background-color: gray;
        color: darkgray;
        box-shadow: none;
      }
      background-color: darkslateblue;
      color: white;
      box-shadow: 13px 14px 28px rgb(134 125 125 / 62%), -2px -1px 15px rgb(254 254 254 / 76%);
      border-radius: 1rem;
    }
  }
  #btn-play, #btn-replay{
  background: pink;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  padding: 30px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 13px 14px 28px rgb(134 125 125 / 62%), -2px -1px 15px rgb(254 254 254 / 76%);
  border-radius: 1rem;
}

#btn-replay{
  background-color: #230168;
}
  .how-to-play{
    grid-column: 3;
    grid-row: 1/4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: dotted 7px rgb(241, 254, 0); 
    margin: 10px;
    border-radius: 1rem;
  }
}

.heart-score{
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    margin: 5px;
  div{
    margin: 5px;
    font-size: 25px;
    span{
      margin: 10px;
    }
  }
  .fa-heart{
    padding: 5px;
  }
}

#ttr-game{
  width: 100%;
  height: 100%;
  position: relative;
}

